@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* -------------------------------------- HEADER ----------------------------------------*/

//main margin

@media (min-width: @screen-xs-max){
	.navbar > div{
		margin-left: 20px;
		margin-right: 20px;
	}
	#content  {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: @screen-xs-max){

	.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
	#content  {
		margin-left: 15px;
		margin-right: 15px;
	}

}

// navbar colors
.header {
	background-color: @navbar-bg;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav .btn-link, .navbar-default  .pagination-block i {
	color: @navbar-icon;
}

.navbar-default	.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default	.navbar-nav .btn-link:hover ,
 .pagination-block i.fa:hover, .pagination-block i.fa:focus{
	color: @navbar-hover;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: @navbar-icon;
}

// mobile toogle
.navbar-default .navbar-toggle {
	border: inherit;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: inherit;
	.icon-bar {
		background-color: @navbar-hover;
	}
}

// logo by exodo
.header .forum-logo {
	margin-top: 15px;
	width: 107px;
	height: 20px;
	margin-left: -6px;
	@media (max-width: @screen-xs-max){
			margin-left: 20px;
	}
}

/* -------------------------------------- STYLE ----------------------------------------*/


body {
	background: @bg-color;
	font-family: @exodo-font-family;
	font-size: 13px;
}

a {
	color: @primary;
}
a:hover, a:focus {
	color: black; //cambiar
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
}


//botones

//@color-fondo: #2e3539;
@color-fondo: @topic-header;
@color-linea: #cf246a;
@speed: 0.20s;
@transition: all @speed ease;


//exodus button
.btn-default, .btn-primary, .btn-warning, .btn-danger, .btn-info {

	width: auto;
	height: 27px;
	line-height: 27px !important;
	margin: auto;
	color: #fff;
	padding: 0 5px 0 5px !important;
  cursor: pointer;
	overflow: hidden;
	border-radius: 0px;
	font-size: 13px !important;
	vertical-align: middle;
	background-color: @color-fondo !important;
  border-left: 5px solid @color-linea !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-right: 0 !important;

  span, a {
		color: inherit;
		line-height: inherit;
		//vertical-align:inherit;
	  font-size: 13px;
	}

  .fa {
    line-height: inherit;
	  vertical-align:inherit;
	  min-width: 25px;
	  font-size: 16px;
		margin-top: -3px;
  }

  &:hover , &:focus{
		z-index: auto !important;
		color: #fff !important;
		//box-shadow: 0 0 0 2px #e4e4e4;
		text-decoration: none;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14);
		//color: lighten (#fff ,50%);
	}

}

//boostrap want to keep button text on black
.open > .dropdown-toggle.btn-default {
	color: #fff !important;
}

//composer caret color
.composer .dropdown-toggle .caret{
	background-color: @color-fondo !important;
	color: #fff;
	&:hover, &:focus{
		background-color: @color-fondo !important;
	}
}

//navpills

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: @primary;
}


//progress bar
.progress-bar {
//background-color: @primary !important;
}
.topic .pagination-block .wrapper {
    padding: 3px 0px;
}



/* -------------------------------------- TOPIC ----------------------------------------*/


.btn-xs {
font-size: 12px !important;
line-height: 1.5 !important;
background-color: #fff; //cambiar blanco a variable
}
.topic {
	padding-left: 8px;
	padding-right: 8px;
}
.topic h1 {
	text-align: center;
	color: @primary;
	span:first-letter{
		text-transform: uppercase;
	}
}

.topic .posts .icon {
	margin-top: 0px !important;
}
.topic .posts .icon img, .topic .posts .icon .user-icon {
	float: none;
	padding: 0;
	border-radius: 0;
	border: 0 solid;
	min-height: 128px;
	min-width: 128px;
	height: 128px;
	width: 128px;
	margin-top: 0px;
	margin-right: 0px;
}

.topic .posts .post-header{
	background: @topic-header;
	display: block;
	line-height: 30px;
	width: 100%;

	.username a {
		font-size: 15px;
		color: @topic-header-text;
		cursor: pointer;
		font-weight: normal;
		word-wrap: break-word;
		padding-left: 5px;
	}
}

//toPID button
[component="post/parent"] {
	float:right;
	font-size: 11px !important;
	background-color: @topic-details !important;
  	border-left: none !important;
	color: black;
  	.fa {
	    font-size: 13px;
	}
  	&:hover , &:focus{

		color: black !important;
		box-shadow: 0 0 0 2px #e4e4e4;
		text-decoration: none;
  	}
}

.topic .post-details {
	float: left;
	text-align: center;
	background-color: @topic-details;
	background-image: @pattern;
}
.topic .content {
	padding: 15px 15px 0px 15px;
	margin-top: 0px !important;
	margin-left: 0px !important;
	background-color: @topic-content;
	border-right: 1px solid @topic-border;
	@media (min-width: @screen-xs-max /*  767px*/) {min-height: 128px;}
	@media (max-width: @screen-xs-max /*  767px*/) {border-left: 1px solid @topic-border;}
}
.topic .time {
	padding: 5px 15px 5px 5px;
	text-align: right;
	margin-left: 0px;
}
.topic .post-signature {
	display: block;
	max-height: 40px;
	overflow: hidden;
	margin-left: 0px;
	padding-left: 5px;
	padding-right: 5px;
}
.topic .sub-content {
	background-color: @topic-content;
	min-height: 70px;
	@media (min-width: @screen-xs-max /*  767px*/) {margin-left: 128px;}
	@media (max-width: @screen-xs-max /*  767px*/) {border-left: 1px solid @topic-border;}
	border-right: 1px solid @topic-border;
}
.topic .box {
	background-color: @topic-details;
	background-image: @pattern;
}

.topic .links-bar small{
	background-color: @topic-details !important;
	display: block;
	line-height: 30px;
	min-height: 30px;
	width: 100% !important;
	text-align: right;
	background-image: @pattern;
}

.topic .links-bar a {
	color: @topic-links;
	font-size: 12px;
}

.topic .index {
	top: 0px;
	position: absolute;
	right: 10px;
	font-size: 13px;
	color: @topic-header-text;
}
.topic .votes {
	padding-right: 5px;

	a {
		padding: 3px;
	}
}

.topic .links-bar {
	border-bottom: 1px solid @topic-border;
}

//bookmark HR easeinout
.topic hr {
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 3px solid transparent;
}

//deleted posts
.topic .posts >li.deleted .box {

	opacity: 0.5;
	.content {
		background-color: @topic-details;
	}
	.sub-content {display: none; }
	.group-badge { display: none; }
}


/* -------------------------------------- PAGINACION ----------------------------------------*/
//paginacion nueva de exodo
.example { margin: 5px auto 5px auto; }

.example button { background: transparent; border: 0; color: black; opacity: .5;}
.example button a { color:black;}
//.example button:hover, .example button:hover { opacity: 1; }
//.example button:disabled, .example button:disabled { opacity: .2; }

.example .forward, .example .backward { float: left;

	//width: 5%;
	height: 25px;
	line-height: 20px;
	font-size: 20px;
	padding: 2px 0px 3px 0px;
 }
.example .forward { float: right;
}

.example .frame { margin: 0 auto; width: 85%; height: 25px; line-height: 50px; overflow: hidden; text-shadow: none; }
.example .frame ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 15px; }
.example .frame ul li { float: left; width: 50px; height: 100%; margin: 0 1px 0 0; background: #eee; text-align: center; cursor: pointer; }
.example .frame ul li.active { color: #fff; background: @primary; }
.example .frame ul li a { line-height: 25px; color: @topic-header; }
.example .frame ul li.active a { color: #fff; }
.example .frame ul li a:hover { color: @topic-header; }
.example .frame ul li.active a:hover { color: #fff }

.example .scrollbar { margin: 0 auto 2px; width: auto; height: 5px; line-height: 0; }
.example .scrollbar .handle { width: 100px; height: 100%; background: @topic-header; cursor: pointer; }
.example .scrollbar .handle .mousearea { position: absolute; top: -9px; left: 0; width: 100%; height: 50px; }

.example .pages { list-style: none; margin: 20px 0; padding: 0; text-align: center; }
.example .pages li { display: inline-block; width: 14px; height: 14px; margin: 0 4px; text-indent: -999px; border-radius: 10px; cursor: pointer; overflow: hidden;
	background: #fff; box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.example .pages li:hover { background: #aaa; }
.example .pages li.active { background: #666; }

.example .controls { margin: 0px 0 0; text-align: center; }
.example .controls .divider { display: inline-block; margin: 0 10px; }
.example .controls button { line-height: 32px; vertical-align: middle; font-family: Novecento, sans-serif; }
.example .controls button i { position: relative; top: -2px; margin: 0px; padding: 0; font-size: 32px; vertical-align: middle; }


/* -------------------------------------- CATEGORY ----------------------------------------*/
.category {

	.topic-list {
		margin-top: 0px;
	}

	> ul {

		> li {
			padding-top: 0px;
			padding-bottom: 0px;
			min-height: 52px;
			border-top: 1px solid #ddd  !important;
			border-left: 1px solid #ddd ;
			border-right: 1px solid #ddd ;
			list-style: none;
			background-color: #f0f0f0; //cambiar

			.teaser {
				//width: 30%;
				.card {
					height: 45px;
					padding-top: 3px;

					.post-content {
						font-size:11px;
					}
				}
			}

			.content {

				padding-left: 15px;
				padding-right: 10px;

				h2 {
					margin-left: 55px;
					line-height: 15px;
					padding-top: 5px;
					padding-bottom: 5px;
					a {
						font-size: 13px;
					}
				}

				.avatar {
				padding-top: 5px;

				.user-icon,.user-img {
					width: 40px;
					height: 40px;
					line-height: 40px;
					margin-right: 0px;
					}
				}

				.icon {
					min-width: 40px;
					min-height: 40px;
					margin-top: 3px
				}
			}
			&:last-child {
				border-bottom: 1px solid #ddd !important;
			}
		}
	}


	.category-bar {
		background: @topic-header;
		display: block;
		line-height: 30px;
		width: auto;
		margin-left: -15px;
		margin-right: -15px;

		p {
			color: #fff; //cambiar
			margin: 0;
			text-align: center;
			font-size: 15px;
		}
	}


	.stats {
		line-height: 15px;
		padding-top: 5px;
		margin-top: 5px;
		font-size: 15px;
		width: 5%;
		padding-right: 2px;
		padding-left: 2px;
		small {
			font-size: 12px;
		}
	}

}


/* -------------------------------------- CATEGORIES ----------------------------------------*/

.categories {

	> li {
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 52px;
		border-top: 1px solid #ddd  !important;
		border-left: 1px solid #ddd ;
		border-right: 1px solid #ddd ;
		list-style: none;
		background-color: #f0f0f0; //cambiar

		.teaser {
			//width: 30%;
			.card {
				height: 45px;
				padding-top: 3px;

				.post-content {
					font-size:11px;
				}
			}
		}

		.content {

			padding-left: 15px;
			padding-right: 10px;

			h2 {
				margin-left: 55px;
				line-height: 15px;
				padding-top: 5px;
				padding-bottom: 5px;
				a {
					font-size: 13px;
				}
			}

			.avatar {
			padding-top: 5px;

			.user-icon,.user-img {
				width: 40px;
				height: 40px;
				line-height: 40px;
				margin-right: 0px;
				}
			}

			.icon {
				min-width: 40px;
				min-height: 40px;
				margin-top: 3px
			}
		}
		&:last-child {
			border-bottom: 1px solid #ddd !important;
		}

	}




	.stats {
		line-height: 15px;
		padding-top: 5px;
		margin-top: 5px;
		font-size: 15px;
		width: 5%;
		padding-right: 2px;
		padding-left: 2px;
		small {
			font-size: 12px;
		}
	}

}

.subcategory .categories li {
	border-bottom: 1px solid #ddd !important;
}
.categories-bar {
	background: @topic-header;
	display: block;
	line-height: 30px;
	width: auto;
	margin-left: -15px;
	margin-right: -15px;

	p {
		color: #fff; //cambiar
		margin: 0;
		text-align: center;
		font-size: 15px;
	}
}



/* -------------------------------------- MODULES ----------------------------------------*/
// modules/NPROGRESS
#nprogress .bar {
  	background: @primary
}
#nprogress .peg {
    box-shadow: 0 0 10px @primary, 0 0 5px @primary;
}
#nprogress .spinner-icon {
    border-top-color: @primary;
    border-left-color: @primary;
}



/* -------------------------------------- SLIDEOUT ----------------------------------------*/


.cd-btn {

	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 100;
  //position: relative;
  display: inline-block;
  padding: 1em 2em;
  background-color: @topic-header;
  color: #ffffff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.no-touch .cd-main-content .cd-btn:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 1170px) {
  .cd-main-content h1 {
    //font-size: 32px;
    //font-size: 2rem;
  }
}



.bar {
	background: @topic-header;
	display: block;
	line-height: 30px;
	width: 100%;

	p {
		color: #fff; //cambiar
		margin: 0;
		text-align: center;
		font-size: 15px;
	}
}
.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-panel-close::before, .cd-panel-close::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #424f5c;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
  background-color: #424f5c;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: #dbe2e9;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 50%;
  }
}

.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  color: black;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
.cd-panel-content p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #424f5c;
  line-height: 1.4;
  margin: 2em 0;
}
.cd-panel-content p:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .cd-panel-content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }
}
